body {
  width: 100%;
  height: 100%;
  background-color:#272727;
  color: #EFEEE7;
}


.logo {
  margin-top: 20px;
}
.logo a {
  font-size: 50px;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  color: #efeee7;
}
.logo a span {
  color: #ee6352;
}

.pizz {
  font-size: 50px;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
}
.pizz span {
  color: #ee6352;
}
.phrase{
    text-align: right;
}
.phrase p {
    font-family: Bad Script;
    font-weight: bold;
    font-size: 25px;
    
}
.landing {
  background-image: url("../img/2020Food___Pizza_Pizza_with_slices_of_bacon_on_a_blackboard_on_a_black_background_142555_.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 10%;
}
.text-bold {
  font-weight: bold;
}

tbody {
  font-size: 15px;
  text-transform: capitalize;
}
#location-input-details {
  display: none;
}

.delivery-option {
  font-size: 13px;
}

a {
  text-decoration: none;
  color: #37749a;
}

a:hover {
  color: #37749a;
}
.carrt{
  color: #EFEEE7;
}
.btn {
  font-weight: bold;
  background-color:#24a0ed;
  color: black;
  outline: none;
}

.btn:hover {
  background-color: #37749a;
  color: white;
}
.popup {
  background-color:#272727;

}
.button-section{
  display: inline-block;
}
